/* FAQ.css */
.faq-section {
  
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 1400px;
  margin: 0 auto;
}

.faq-container {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}

.faq-answer {
  padding: 10px 0;
  font-size: 1em;
  color: #555;
}

.faq-question span {
  font-size: 1.2em;
}
.container {
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1000px; /* Set the maximum width of the container */
  padding: 0 20px; /* Add padding to both sides of the container */
  background-color: #f5f5f5;
  border-radius: 8px;
}
